/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # UTILS */

.container {
  display: flex;
  height: calc(100vh - 120px);
}

img {
  max-width: 100%;
}

/* STRUCT. */

.nav-bar {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 100%;

  background-color: black;
}

.main-section {
  display: flex;
  flex-direction: column;
  width: calc(100% - 50px);
}

.header-app {
  height: 80px;
  width: 100%;

  background-color: #2e2e2e;
}

.main-content {
  display: flex;
  flex: 1 1 100%;

  background-color: #1c1c2c;
}

.footer {
  height: 120px;
  width: 100%;

  background-color: #2e2e2e;
}

/* NAV */

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo-nav {
  margin-top: 10px;
}

.img-logo {
  width: 25px;
}

.logo {
  margin-bottom: 10px;
}

.logo-big {
  display: none;
}

.footer-sidebar {
  flex-direction: column;
  text-align: center;
}

.profile-logo {
  background-color: lightgray;
  border-radius: 50%;
}

.name-item {
  color: white;
  display: none;
}

.name-playlist {
  display: none;
  color: white;
}

.fa-sharp-duotone,
.fa-solid,
.fa-plus {
  font-size: 40px;
  background-color: gray;
  display: none;
}

/* MQ */

@media screen and (min-width: 576px) {
  .nav-bar {
    width: 200px;
  }

  .name-item {
    display: inline;
    font-size: 20px;
  }

  .logo {
    display: none;
  }

  .logo-big {
    display: inline-block;
    margin-bottom: 10px;
  }

  .fa-sharp-duotone,
  .fa-solid,
  .fa-plus {
    display: block;
  }
}
