/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # UTILS */

.container {
  display: flex;
  height: calc(100vh - 120px);
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: gray;
}

li {
  color: gray;
}

h3 {
  color: white;
  margin-bottom: 10px;
}

span {
  color: gray;
}

/* UTILS DISPLAY */

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

/* STRUCT. */

.nav-bar {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  background-color: black;
}

.main-section {
  display: flex;
  flex-direction: column;
  width: calc(100% - 50px);
}

.header-app {
  height: 80px;
  width: 100%;

  background-color: #2e2e2e;
}

.main-content {
  display: flex;
  flex: 1 1 100%;

  background-color: #1c1c2c;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 120px;
  width: 100%;

  background-color: #2e2e2e;
}

/* NAV */

.nav-bar {
  display: flex;
  flex-direction: column;
}

.nav-bar .footer-nav {
  margin-top: auto;
}

.nav-bar .logo-nav {
  width: 100%;
}

.nav-bar .links-nav {
  width: 100%;
}

.nav-bar .links-nav .icon {
  width: 30px;
}

.nav-bar .links-nav a {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-bar .logo-nav,
.nav-bar .links-nav,
.nav-bar .playlist-bt,
.nav-bar .playlist,
.nav-bar .footer-nav {
  padding: 0 0.5rem;
}

.nav-bar .playlist-bt {
  cursor: pointer;
}

.nav-bar .add-playlist {
  color: gray;
  margin-right: 0.5rem;
}

.nav-bar .playlist-bt .button-playlist {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: gray;
  border: none;
  font-size: 1.2rem;
}

.nav-bar .playlist {
  overflow-y: auto;
  margin-right: 0.5rem;
  min-height: 50px;
}

.nav-bar .nav-download > img {
  width: 20px;
}

.nav-bar .nav-user > img {
  width: 30px;
}

.nav-bar .nav-download {
  margin-bottom: 0.5rem;
}

.nav-bar .nav-download,
.nav-bar .nav-user {
  text-align: center;
}

.nav-bar .nav-user {
  line-height: center;
}

.nav-bar .nav-download > .user-container,
.nav-bar .nav-user > .user-container {
  vertical-align: middle;
}

.nav-bar .nav-user > .user-container {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
  background-color: gray;
}

.nav-bar .nav-user > .user-container > img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

/* FOOTER */

.button-player-co {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.progress-bar-co {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.progress-bar-co > .progress-bar {
  flex-grow: 1;
  max-width: 300px;
  min-width: 100px;

  height: 4px;
  border-radius: 2px;
  background-color: gray;
}

.progress-bar-co > .progress-bar > .progress {
  width: 30%;
  height: 100%;

  cursor: pointer;
  border-radius: 2px;
  background-color: white;
}

.progress-bar-co .current-time,
.progress-bar-co .total-time {
  color: white;
}

.button-player-co .player-item {
  width: 50px;
  height: 50px;
  font-size: 20px;

  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
}

.bar-button-co {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* HOVER */

.nav-bar .links-nav:hover span {
  color: white;
}

.nav-bar .add-playlist:hover {
  color: white;
}

.nav-bar .playlist-bt:hover .button-playlist {
  background-color: white;
}

.nav-bar .playlist:hover li {
  color: white;
  cursor: pointer;
}

.nav-bar .footer-nav:hover {
  color: white;
  cursor: pointer;
}

/* MAIN SECTION HEADER */

.main-section > .header-app {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-button {
  width: 200px;
  height: 50px;
  margin-right: 20px;
  border: 2px solid;
  border-radius: 10px;

  cursor: pointer;
  color: white;
  background-color: transparent;
}

/* MQ SM */

@media screen and (min-width: 576px) {
  .nav-bar {
    width: 250px;
  }

  .nav-bar .logo-nav,
  .nav-bar .links-nav,
  .nav-bar .playlist-bt,
  .nav-bar .playlist,
  .nav-bar .footer-nav {
    padding: 0 1rem;
    margin-top: 20px;
  }

  .nav-bar .nav-download,
  .nav-bar .nav-user {
    text-align: left;
  }

  .nav-bar .footer-nav {
    margin-top: auto;
  }

  /* UTILS DISPLAY */

  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-inline {
    display: inline;
  }

  .d-sm-inline-block {
    display: inline-block;
  }

  .d-sm-flex {
    display: flex;
  }
}
